    @font-face {
        font-family: 'Virus';
        src: url('fonts/Virus_01.ttf');
    }
    
    @font-face {
        font-family: 'Big John';
        src: url('fonts/BIG JOHN.otf')
    }
    
    .product-title {
        font-family: 'Audiowide', cursive;
        font-size: 50px;
        color: white;
    }
    
    .deal-page-more {
        width: 70px;
        height: 70px;
        position: fixed;
        opacity: .9;
        cursor: pointer;
        z-index: 999;
        bottom: 15px;
        transition: all 1s;
        -webkit-transition: all 1s;
        -o-transition: all 1s;
        -webkit-animation: fly 2s ease-in-out;
        -moz-animation: fly 2s ease-in-out;
        -o-animation: fly 2s ease-in-out;
        animation: fly 2s ease-in-out;
        -webkit-animation-iteration-count: infinite;
        -moz-animation-iteration-count: infinite;
        -o-animation-iteration-count: infinite;
        animation-iteration-count: infinite;
        left: calc(50% - 35px);
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .deal-page-more>img {
        width: 30px;
        height: 30px;
    }
    
    @-webkit-keyframes fly {
        0%,
        100% {
            -webkit-transform: translateY(0);
            -moz-transform: translateY(0);
            -o-transform: translateY(0);
            -ms-transform: translateY(0);
            transform: translateY(0)
        }
        50% {
            -webkit-transform: translateY(-10px);
            -moz-transform: translateY(-10px);
            -o-transform: translateY(-10px);
            -ms-transform: translateY(-10px);
            transform: translateY(-10px)
        }
    }
    
    @-o-keyframes fly {
        0%,
        100% {
            -webkit-transform: translateY(0);
            -moz-transform: translateY(0);
            -o-transform: translateY(0);
            -ms-transform: translateY(0);
            transform: translateY(0)
        }
        50% {
            -webkit-transform: translateY(-10px);
            -moz-transform: translateY(-10px);
            -o-transform: translateY(-10px);
            -ms-transform: translateY(-10px);
            transform: translateY(-10px)
        }
    }
    
    @keyframes fly {
        0%,
        100% {
            -webkit-transform: translateY(0);
            -moz-transform: translateY(0);
            -o-transform: translateY(0);
            -ms-transform: translateY(0);
            transform: translateY(0)
        }
        50% {
            -webkit-transform: translateY(-10px);
            -moz-transform: translateY(-10px);
            -o-transform: translateY(-10px);
            -ms-transform: translateY(-10px);
            transform: translateY(-10px)
        }
    }
    
    .social-icons {
        position: fixed;
        top: 20%;
        right: 20px;
        width: 80px;
        float: left;
    }
    
    .freelives-social-icon {
        width: 88px;
        height: 16px;
        float: left;
        margin: 0px 0px 10px 0px;
        background: url("images/social.png");
        background-position: 0px -64px;
    }
    
    .devolver-social-icon {
        width: 88px;
        height: 16px;
        float: left;
        margin: 20px 0px 10px 0px;
        background: url("images/social.png");
        background-position: 0px -80px;
    }
    
    .social-twitter-icon {
        background: url("images/social.png");
        width: 64px;
        height: 64px;
        float: right;
        margin-bottom: 10px;
    }
    
    .social-facebook-icon {
        background: url("images/social.png");
        background-position: -80px 0px;
        width: 64px;
        height: 64px;
        float: right;
        margin-bottom: 10px;
    }
    
    .social-forum-icon {
        background: url("images/social.png");
        background-position: -160px 0px;
        width: 64px;
        height: 64px;
        float: right;
        margin-bottom: 10px;
    }
    
    .media {
        width: 100%;
        margin: -100px 0px 50px 0px;
        float: left;
    }
    
    .wrapper {
        width: 960px;
        margin: 0px auto;
    }
    
    #video-embed {
        margin-top: 120px;
    }
    
    .screenshots>a>img {
        width: 30%;
    }
    
    .img {
        margin-top: 0!important;
    }
    /* Slider*/
    
    .container {
        display: flex;
        justify-content: center;
    }
    
    .thumbnails {
        display: flex;
        flex-direction: column;
        line-height: 0;
        max-height: 80vh;
        overflow-y: auto;
        background: black;
        overflow-x: hidden;
        position: relative
    }
    
    .thumnail-left {}
    
    .thumnail-right {}
    
    .thumbnails li {
        flex: auto;
        list-style: none;
        cursor: pointer;
        border: solid 1px blueviolet;
    }
    
    .thumbnails a {
        display: block;
    }
    
    .thumbnails img {
        width: 30vmin;
        height: 20vmin;
        object-fit: cover;
        border: solid 2px;
        object-position: center;
    }
    
    .slides {
        overflow: hidden;
        width: 75vmin;
        height: 80vmin;
        text-align: center;
        background: black;
    }
    
    .slides li {
        width: 75vmin;
        height: 80vmin;
        position: absolute;
        z-index: 1;
    }
    
    .slides img {
        height: 80vmin;
        object-fit: cover;
        object-position: top;
    }
    
    .slides li:target {
        z-index: 3;
        -webkit-animation: slide 1s 1;
        -moz-animation: slide 1s 1;
    }
    
    .slides li:not(:target) {
        -webkit-animation: hidden 1s 1;
        -moz-animation: hidden 1s 1
    }
    
    @keyframes slide {
        0% {
            transform: translateY(-5%);
        }
        100% {
            transform: translateY(0%);
        }
    }
    
    @keyframes hidden {
        0% {
            z-index: 2;
        }
        100% {
            z-index: 2;
        }
    }
    
    .slides>li {
        list-style: none;
    }
    /* */
    
    #group2>.parallax__layer--base {
        background: rgba(0, 0, 0, 0.3);
    }
    
    #group2>.parallax__layer--back {
        background: url(images/image.png);
        background-size: 100%;
    }
    
    #group3 .parallax__layer--base {
        background: url(images/pager_tear_top_full_1.png) rgba(0, 0, 0, 0.8);
        background-repeat: no-repeat;
        background-size: 100% 3.5%;
        background-position-y: 1px;
    }
    
    .background-video {
        right: 0;
        bottom: 0;
        min-width: 100%;
        width: 100%;
    }
    
    .video-wrapper {
        display: flex;
        justify-content: center;
        align-content: center;
        align-items: center;
    }
    
    .over-view-content {
        font-family: 'Maven Pro', sans-serif;
        font-size: 18px;
        overflow: hidden;
    }
    
    .over-view-2-columns {
        width: 100%;
        margin-top: 30px;
    }
    
    .ov-left {
        float: left;
        width: calc(50% - 5px);
        padding: 10px 5px;
    }
    
    .ov-right {
        float: left;
        width: calc(50% - 5px);
        padding-top: 30px;
    }
    
    .ov-title {
        font-family: 'Big John', cursive;
        text-shadow: rgba(0, 0, 0, 0.498039) -1px -1px 0px, rgba(0, 0, 0, 0.498039) -1px 1px 0px, rgba(0, 0, 0, 0.498039) 1px 1px 0px, rgba(0, 0, 0, 0.498039) 1px -1px 0px;
        font-size: 34px;
        color: #fff560;
    }
    
    .info {
        color: white;
        font: 1em/1 sans-serif;
        text-align: center;
    }
    
    .info a {
        color: white;
    }
    
    svg {
        width: 100%;
        height: 220px;
        display: block;
        position: relative;
        overflow: hidden;
        margin: 0 auto;
        background: black;
    }
    
    .img-wrapper>img {
        border-radius: 27px;
    }
    
    .emphasize-text {
        color: rgb(255, 193, 37);
        font-weight: 600;
    }
    /* GLITCH */
    
    .coming-soon {
        margin-top: 50px;
        display: flex;
        justify-content: center;
    }
    
    .platform {
        width: 100%;
        display: flex;
        justify-content: space-evenly;
        margin-top: 10vh;
    }
    
    .platform-wrapper {
        width: 20%;
    }
    
    .platform-img {
        width: 100%;
    }
    /* Footer */
    
    footer {
        font-size: 14px;
        line-height: 22px;
        font-family: 'BrandonGrotesque-Light', sans-serif;
        position: relative;
        z-index: 600
    }
    
    footer.dark-bg {
        background: black;
        color: #efefef;
        border-top: solid 20px;
    }
    
    footer.dark-bg h4 {
        color: #fff
    }
    
    footer .inner {
        padding-top: 45px;
        padding-bottom: 25px
    }
    
    footer .container>.row {
        max-width: 1150px;
        margin: 0 auto
    }
    
    @media (min-width: 500px) and (max-width: 765px) {
        footer .container>.row {
            width: 70%;
            margin: 0 auto
        }
    }
    
    footer .row .inner {
        padding: 25px
    }
    
    footer .logo {
        height: auto;
        max-height: 100%
    }
    
    footer h4 {
        text-transform: uppercase;
        margin-bottom: 20px
    }
    
    footer p {
        margin-bottom: 15px;
        font-size: 14px
    }
    
    .footer-menu {
        padding: 0;
        margin-top: 7px;
        list-style: none;
        width: 80%;
    }
    
    .footer-menu li {
        display: inline;
        padding-left: 15px
    }
    
    .footer-menu li:first-child:before {
        display: none
    }
    
    .footer-bottom {
        /*    background: #000;*/
        display: flex;
        justify-content: center;
    }
    
    .footer-bottom p {
        padding: 0;
        margin: 0
    }
    
    .footer-bottom p,
    .footer-bottom a {
        color: rgba(0, 0, 0, .5)
    }
    
    .footer-bottom .container {
        width: 90%;
    }
    
    .footer-bottom .container.inner {
        padding-top: 30px;
        padding-bottom: 30px
    }
    
    @media (max-width: 800px) {
        .footer-bottom p.pull-left,
        .footer-bottom ul.pull-right {
            float: none !important;
            text-align: center
        }
    }
    
    @media (max-width: 760px) {
        .footer .col-sm-6 {
            margin-left: 30px;
            padding-left: 0
        }
    }
    
    footer {
        font-size: 14px;
        line-height: 22px;
        font-family: 'BrandonGrotesque-Light', sans-serif;
        position: relative;
        z-index: 600
    }
    
    footer.dark-bg {
        color: #efefef;
        position: fixed;
        width: 100%;
        bottom: 0;
        left: 0;
    }
    
    footer.dark-bg h4 {
        color: #fff
    }
    
    footer .inner {
        padding-top: 45px;
        padding-bottom: 25px
    }
    
    footer .container>.row {
        max-width: 1150px;
        margin: 0 auto
    }
    
    @media (min-width: 500px) and (max-width: 765px) {
        footer .container>.row {
            width: 70%;
            margin: 0 auto
        }
    }
    
    footer .row .inner {
        padding: 25px
    }
    
    footer .logo {
        height: auto;
        max-height: 100%
    }
    
    footer h4 {
        text-transform: uppercase;
        margin-bottom: 20px
    }
    
    footer p {
        margin-bottom: 15px;
        font-size: 14px
    }
    
    .footer-menu {
        padding: 0;
        margin-top: 7px;
        list-style: none
    }
    
    .footer-menu li {
        display: inline;
        padding-left: 15px
    }
    
    .footer-menu li:first-child:before {
        display: none
    }
    
    .footer-bottom {
        /*    background: #000;*/
    }
    
    .footer-bottom p {
        padding: 0;
        margin: 0
    }
    
    .footer-bottom p,
    .footer-bottom a {
        color: rgb(213, 205, 205);
    }
    
    .footer-bottom .container {
        width: 90%;
    }
    
    .footer-bottom .container.inner {
        padding-top: 30px;
        padding-bottom: 30px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    
    @media (max-width: 800px) {
        .footer-bottom p.pull-left,
        .footer-bottom ul.pull-right {
            float: none !important;
            text-align: center
        }
    }
    
    @media (max-width: 760px) {
        .footer .col-sm-6 {
            margin-left: 30px;
            padding-left: 0
        }
    }
    
    .social-content {
        width: 40px;
    }
    
    .social_links {
        display: flex;
        justify-content: flex-end;
    }
    
    .social-item {
        margin-left: 20px;
        cursor: pointer;
    }
    
    .group4 {
        height: 2160px;
        background: black;
        color: wheat;
    }
    
    .group4>.parallax__layer {
        height: 2160px;
    }
    
    .youtube-iframe {
        border: none;
        width: 960px;
        height: 703px;
    }
    
    .font_5 {
        text-align: center;
    }
    
    .header-text {
        position: relative;
        font-size: 50px;
        letter-spacing: -0.1em;
        font-family: 'Big John', cursive;
        color: #fff560;
        text-shadow: rgba(0, 0, 0, 0.498039) -1px -1px 0px, rgba(0, 0, 0, 0.498039) -1px 1px 0px, rgba(0, 0, 0, 0.498039) 1px 1px 0px, rgba(0, 0, 0, 0.498039) 1px -1px 0px;
    }
    
    .trailer-content {
        position: absolute;
        right: -113px;
        top: -46px;
    }
    
    .trailer-content>img {
        width: 135px;
    }
    
    .logo-bottom {
        text-align: center;
    }
    
    #group1 {
        height: 100vh;
    }
    
    #group2 {
        margin-top: 100px;
        height: 100vh;
    }
    
    .wrap-flex {
        display: flex;
        justify-content: center;
    }
    /* Scroll bar */
    
    thumbnails::-webkit-scrollbar {
        width: 1em;
    }
    
    thumbnails::-webkit-scrollbar-track {
        -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    }
    
    thumbnails::-webkit-scrollbar-thumb {
        background-color: darkgrey;
        outline: 1px solid slategrey;
    }
    
    .src-content {
        position: absolute;
        top: -21px;
    }
    
    .src-content>img {
        width: 200px;
        height: 80px;
    }
    /** RESPONSIVE **/
    
    @media(max-width: 1440px) {
        #group2 {
            height: 130vh;
        }
    }
    
    @media (max-width: 1024px) {
        .deal-page-more {
            display: none;
        }
        .background-video {
            width: 100%;
        }
        .thumbnails {
            max-height: 80vmin;
        }
        #group1 {
            height: calc(100vw/1.77779636911);
        }
        #group2 {
            margin-top: 0;
            height: 900px;
        }
        #group3 {
            height: 900px;
        }
        #group4 {
            height: 2185px;
        }
        #group4>.parallax__layer {
            height: 2185px;
        }
        .trailer-content {
            position: absolute;
            right: -104px;
            top: -29px;
        }
        .trailer-content>img {
            width: 120px;
        }
        .src-content {
            display: none;
        }
    }
    
    @media (max-width: 800px) {
        .wrapper {
            width: auto;
            overflow: hidden;
        }
        .ov-title {
            text-align: center;
        }
        .ov-right {
            width: 100%;
        }
        .ov-left {
            width: 100%;
        }
        .img-wrapper {
            text-align: center;
        }
        .column-reverse {
            display: flex;
            flex-direction: column-reverse;
        }
        .group4 {
            height: 3000px;
        }
        .group4>.parallax__layer {
            height: 3000px;
        }
    }
    
    @media (max-width: 768px) {
        .background-video {
            width: 100%;
        }
        .container {
            flex-direction: column;
        }
        .thumbnails {
            max-height: 80vmin;
            flex-direction: row;
            overflow-x: auto;
        }
        .slides {
            width: 100vmin;
        }
        .slides>li {
            width: 100vmin;
        }
        .wrapper {
            width: auto;
        }
        .youtube-iframe {
            border: none;
            width: 768px;
            height: 540px;
        }
        #group2 {
            height: 725px;
        }
        .wrapper {
            overflow: hidden;
        }
        .ov-title {
            text-align: center;
        }
        .ov-right {
            width: 100%;
        }
        .ov-left {
            width: 100%;
        }
        .img-wrapper {
            text-align: center;
        }
        .group4 {
            height: 4000px;
        }
        .group4>.parallax__layer {
            height: 4000px;
        }
        .img-wrapper>img {
            width: 90%;
        }
        .platform {
            width: 100%;
            display: flex;
            justify-content: space-evenly;
            text-align: center;
            flex-direction: column;
            align-items: center;
            margin-top: 50px;
        }
        .platform-wrapper {
            width: 70%;
            text-align: center;
        }
        .platform-img {
            width: 100%;
            margin-bottom: 20px;
        }
        .column-reverse {
            display: flex;
            flex-direction: column-reverse;
        }
        .social_links {
            justify-content: space-around;
        }
    }
    
    @media (max-width: 485px) {
        .header-text {
            font-size: 25px;
            letter-spacing: 0;
        }
        #group2 {
            height: 450px;
        }
        #group3 {
            height: 500px;
        }
        .wrap-text {
            padding: 0 15px;
        }
        .coming-soon>img {
            width: 80%;
        }
        .group4 {
            height: 3500px;
        }
        .group4>.parallax__layer {
            height: 3500px;
        }
        .footer-bottom .container.inner {
            flex-direction: column;
        }
        .logo-bottom {
            text-align: center;
            width: 100%;
            margin-bottom: 20px;
        }
        .ov-title {
            font-size: 25px;
        }
        .footer-menu {
            width: 100%;
        }
        .social_links {
            justify-content: space-around;
        }
        .trailer-content {
            position: absolute;
            right: -50px;
            top: -16px;
        }
        .trailer-content>img {
            width: 60px;
        }
    }